html,
body,
h1,
h2,
h3,
h4,
p,
header,
section,
footer {
  margin: 0;
  padding: 0;
}

html,
input,
button,
textarea,
select {
  font-size: 22px;
  font-family: Tahoma, sans-serif;
  letter-spacing: -0.02rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html {
  height: 100vh;
}

body {
  max-width: 80vw;
  margin: 0 auto;
}

header, 
section, 
article, 
footer {
  margin: 2rem;
}

.button {
  display: inline-block;
  font-size: 2rem;
}
