html,
body,
h1,
h2,
h3,
h4,
p,
header,
section,
footer {
  margin: 0;
  padding: 0;
}

html,
input,
button,
textarea,
select {
  font-size: 22px;
  font-family: Tahoma, sans-serif;
  letter-spacing: -0.02rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html {
  height: 100vh;
  position: relative;
}

body {
  max-width: 80vw;
  margin: 0 auto;
  background-color: #d2cbc5;
  color: #332362;
}

p {
  margin-bottom: 1rem;
}

p:last-of-type {
  margin-bottom: 0;
}

.moogle__container {
  padding: 1rem 0;
  margin: 0 auto;
}

.moogle__link {
  color: #750a10;
}

.kupo {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
}

.kupo__active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
